<div id="sidebar" class="col-md-3">
    <aside>
        <section>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-users fa-lg panel-title">Content</i>
                </div>

                <div class="panel-body">

                    <%include "doc_toc.gsp"%>

                </div>
            </div>

        </section>
    </aside>
</div>

