	<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%if (content.rootpath) {%>${content.rootpath}<% } else { %><% }%>">${config.site_brand_title}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="<% if (content.rootpath) { %>${content.rootpath}<%
              } %>index.html">Home</a></li>
            <li><a href="<% if (content.rootpath) { %>${content.rootpath}<%
              } %>features.html">Features</a></li>
            <li><a href="<% if (content.rootpath) { %>${content.rootpath}<%
              } %>download.html">Download</a></li>
            <li><a href="<% if (content.rootpath) { %>${content.rootpath}<%
              } %>support.html">Support</a></li>
            <li><a href="<% if (content.rootpath) { %>${content.rootpath}<%
              } %>docs/introduction.html">Documentation</a></li>
            <li><a href="<% if (content.rootpath) { %>${content.rootpath}<%
              } %>screenshots.html">Screenshots</a></li>
            <li><a href="<% if (content.rootpath) { %>${content.rootpath}<%
              } %>license.html">License</a></li>
            <li><a href="<% if (content.rootpath) { %>${content.rootpath}<%
              } %>development.html">Development</a></li>
            <li><a href="<% if (content.rootpath) { %>${content.rootpath}<%
              } %>impressum.html">Impressum</a></li>



            <!--
            <li><a href="<%if (content.rootpath) {%>${content.rootpath}<% } else { %><% }%>${config.feed_file}">Subscribe</a></li>
            -->

            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>

            -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">